.app-wrapper {
  padding: 10px;
}

.header {
  max-width: 768px;
  margin: 0px auto;
  display: grid;
  grid-template-areas: 
  "div-for-header-img nav change-languages";
  grid-template-rows: 80px;
  grid-template-columns: 80px auto 80px;
  border: 1px solid #ecebeb;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 6px 0px rgba(181, 181, 181, 0.2);
  -moz-box-shadow: 0px 1px 6px 0px rgba(181, 181, 181, 0.2);
  box-shadow: 0px 1px 6px 0px rgba(181, 181, 181, 0.2);
  padding: 20px;
}

.header > * {
  align-self: center;
}

.div-for-header-img {
  grid-area: div-for-header-img;
}

.nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.change-languages {
  grid-area: change-languages;
}

.point {
  margin: auto 10px;
}

.flag-icon-background, .flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat; 
  border: 1px solid #d6d6d6;
}

.flag-icon {
  position: relative;
  display: inline-block;
  width: 1.3333333333em;
  line-height: 1em; 
  filter: grayscale(20%);
}

.flag-icon:before {
    content: " "; 
}

.flag-icon .flag-icon-squared {
    width: 1em; 
}

.flag-icon-arm {
  background-image: url(./flags/4x3/arm.svg); 
}

.flag-icon-gbr {
  background-image: url(./flags/4x3/gbr.svg); 
}

.flag-icon-rus {
  background-image: url(./flags/4x3/rus.svg); 
}

.flag-icon-usa {
  background-image: url(./flags/4x3/usa.svg); 
}
