#root {
  overflow-x: hidden;
}

a {
  color: rgb(30, 30, 30);
  font-weight: 400;
  text-decoration: none;
}

.app-wrapper {
  /* padding: 10px; */
  display: flex;
  transition: 0.2s ease;
}

.content {
  max-width: 1280px;
  /* width: 95vw; */
  width: calc(100vw - 350px);
  min-height: 55vh;
  margin: 0px auto;
  /* margin-top: 120px; */
  margin-bottom: 30px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.checkbox {
  position: absolute;
  left: 5px;
  top: 10px;
  margin: 5px;
  display: none;
  float: right;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 5;
  opacity: 0;
  transition: 0.2s ease;
}

.hamburger_lines {
  position: absolute;
  left: 5px;
  top: 10px;
  width: 32px;
  z-index: 2;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  padding: 10px 5px;
  transition: 0.2s ease;
}

.line {
  display: block;
  height: 4px;
  width: 30px;
  border-radius: 10px;
  background: #80adc7;
  margin-top: 4px;
  margin-bottom: 2px;
}

#checkbox:checked ~ .app-wrapper {
  transform: translateX(0);
}

#checkbox:checked {
  left: 250px;
}

#checkbox:checked ~ .hamburger_lines {
  left: 250px;
}

@media screen and (max-width: 860px) {
  .app-wrapper {
    width: calc(100vw + 250px);
    /* margin-left: -250px; */
    transform: translateX(-250px);
    position: relative;
  }
  .content {
    width: calc(100vw - 50px);
  }
  .checkbox,
  .hamburger_lines {
    display: block;
  }
}
