.header {
  max-width: 1280px;
  margin: 10px auto;
  display: grid;
  grid-template-areas: 
  "div-for-header-img nav change-languages";
  grid-template-rows: 80px;
  grid-template-columns: 80px auto 80px;
}

.div-for-header-img {
  grid-area: div-for-header-img;
}

.nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.change-languages {
  grid-area: change-languages;
}

.point {
  margin: auto 10px;
}