.loginBlock {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 100px auto 0 auto;
  align-items: center;
}

.login_input,
.password_input {
  margin-top: 10px;
}

.link {
  color: rgb(0, 48, 102);
  text-decoration: underline;
}
