.header {
  width: 250px;
  height: 100vh;
  background-color: #f2fefe;
  /* max-width: 1280px;
    width: 95vw;
    margin: 0px auto;
    display: grid;
    grid-template-areas: 
    "div-for-header-img nav change-languages";
    grid-template-rows: 80px;
    grid-template-columns: 100px auto 100px;
    border: 1px solid #ecebeb;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 16px 0px rgba(181, 181, 181, 0.5);
    -moz-box-shadow: 0px 1px 16px 0px rgba(181, 181, 181, 0.5);
    box-shadow: 0px 1px 16px 0px rgba(181, 181, 181, 0.5);
    padding: 10px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    background-color: #f2fefe; */
}

.header > * {
  align-self: center;
}

.div_header_img {
  width: 100%;
  grid-area: div-for-header-img;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
}

.checkbox_block {
  width: 40px;
}

.logo_text {
  padding: 13px 0 0 10px;
  font-size: 24px;
  font-weight: 100;
  cursor: pointer;
  margin: 0;
}
